html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

// Define mixins
@mixin mobile {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin mobilell {
  @media (max-width: 110px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1566px) {
    @content;
  }
}
@mixin lgScreen {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin midScreen {
  @media (min-width: 700px) and (max-width: 1365px) {
    @content;
  }
}
@mixin midScreen2 {
  @media (min-width: 900px) and (max-width: 1500px) {
    @content;
  }
}

// Use mixins
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
  // padding: 0px 30px;
  // padding: -100px;

  @include mobile {
    // margin: auto;
    // padding: auto;
    height: 90vh;
  }
}
