/* AdPurchase.css */
.no-hover:hover {
  background-color: transparent !important;
  color: inherit !important;
  border-color: white !important;
  box-shadow: none !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
